<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hj.backend.mapper.AddressMapper">
    <select id="list" resultType="Address">
        select * from ADDRESS order by SEQ desc
    </select>
    <select id="selectBySeq" resultType="Address" parameterType="long">
        select * from ADDRESS where SEQ=#{seq}
    </select>
    <insert id="insertSelectKey" parameterType="Address">
        <selectKey keyProperty="seq" order="BEFORE" resultType="long">
            select ADDRESS_SEQ.nextval from dual
        </selectKey>
        insert into ADDRESS values(#{seq}, #{name}, #{addr}, SYSDATE)
    </insert>
    <delete id="delete" parameterType="long">
        delete from ADDRESS where SEQ=#{seq}
    </delete>
</mapper>