<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hj.backend.mapper.BoardMapper">
    <select id="list" resultType="Board">
        select * from BOARD order by SEQ desc
    </select>
    <select id="selectBySeq" resultType="Board" parameterType="long">
            select * from BOARD where SEQ=#{seq}
    </select>
    <insert id="insertSelectKey" parameterType="Board">
        <selectKey keyProperty="seq" order="BEFORE" resultType="long">
            select BOARD_SEQ.nextval from dual
        </selectKey>
        insert into BOARD values(#{seq}, #{writer},#{email},#{subject},#{content},SYSDATE,SYSDATE)
    </insert>
    <update id="update" parameterType="Board">
        update BOARD Set EMAIL = #{email}, SUBJECT = #{subject}, CONTENT =#{content} Where SEQ = #{seq}
    </update>
    <delete id="delete" parameterType="long">
        delete from Board where SEQ=#{seq}
    </delete>
</mapper>